<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{environment}}</h3>


  <ul>
    <li *ngFor="let item of items | async">
      {{ item.id }}

      <p *ngFor="let sub of item.subCollection | async">
        {{sub | json}}
      </p>
      <button ion-button secondary (click)="innerAdd(item.id)">Add Sub</button>

    </li>
  </ul>

  <button ion-button secondary (click)="add()">Add</button>
</ion-content>
